target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### NPM ###
**/webapp/frontend/node_modules/
**/webapp/frontend/build/
**/webapp/frontend/node/
**/node_modules/
src/main/frontend/build/


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
/node_modules

# Optional npm cache directory
.npm

# Dist and build outputs
/dist
/build

# Runtime data
/pids
*.pid
*.seed
*.pid.lock

# Yarn integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Parcel-bundler cache (if you use it)
/.cache

# Next.js build output (if you use Next.js)
/.next

# Editor-specific files
/.idea
/.vscode
*.swp
*.swo

# Node-wrapped Python cache
*.pyc