server:
  port: 9090

management:
  endpoints:
    web:
      exposure:
        include: mappings

springdoc:
  api-docs:
    path: /api-docs
  show-actuator: true

spring:
  security:
    user:
      name: username
      password: password
  # Log file configuration
  output:
    ansi:
      enabled: always  # Enable colored output in the console

logging:
  # Define log levels for various packages
  level:
    root: INFO
    org.springframework.web: INFO # Enable INFO logging for web requests
    org.hibernate: WARN             # Reduce verbosity of Hibernate logs
    org.discogs.query: DEBUG

queries:
  timeout: 59

discogs:
  url: https://api.discogs.com/
  baseUrl: https://www.discogs.com
  search: database/search
  release: releases/
  marketplaceCheck: marketplace/stats/
  agent: ${DISCOGS_AGENT}
  page-size: 300
  rate-limit: 50
  token: ${DISCOGS_TOKEN}