server:
  port: 9090

management:
  endpoints:
    web:
      exposure:
        include: mappings

springdoc:
  api-docs:
    path: /api-docs
  show-actuator: true

spring:
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: create-drop
  datasource:
    platform: postgres
    url: jdbc:postgresql://ep-patient-wind-a27e9thy.eu-central-1.aws.neon.tech/discogs-query-api?sslmode=require
    username: discogs-query-api_owner
    password: XREB6Ppz9IFh
    driverClassName: org.postgresql.Driver
  security:
    user:
      name: username
      password: password
  # Log file configuration
  output:
    ansi:
      enabled: always  # Enable colored output in the console

logging:
  # Define log levels for various packages
  level:
    root: INFO
    org.springframework.web: INFO # Enable INFO logging for web requests
    org.hibernate: WARN             # Reduce verbosity of Hibernate logs
    org.discogs.query: DEBUG

discogs:
  url: https://api.discogs.com/
  baseUrl: https://www.discogs.com
  search: database/search
  release: releases/
  marketplaceCheck: marketplace/stats/
  agent: DiscogsQueryApplication/1.0 +https://github.com/NathanOrme/discogs-query-api
  page-size: 300
  rate-limit: 50
  token: fXZuXsfLTsbwhcTYzgiPrjpzLPNPUXoGpSseGEXV