/* components.css */

/* Instructions Section */
.instructions {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.instructions h2 {
    margin-top: 0;
}

.instructions p {
    margin-bottom: 10px;
}

.instructions ol {
    margin: 0;
    padding-left: 20px;
}

.instructions strong {
    color: #333;
}

/* Form Container Styles */
.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 400px; /* Ensures form doesn't shrink too much on smaller screens */
    max-width: 600px; /* Maximum width for form */
    transition: background-color 0.3s, color 0.3s;
}

form {
    margin: 0;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
select {
    width: calc(100% - 22px);
    padding: 12px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="checkbox"] {
    margin: 10px 0;
}

.spinner {
    display: none;
}

/* Query Section Styles */
.query {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

.query-header {
    font-weight: bold;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.query-header:hover {
    background-color: #0056b3;
}

.query-header .delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.query-header .delete-button svg {
    width: 16px;
    height: 16px;
    fill: red;
    stroke: red;
    margin-left: 10px;
}

.query-content {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #f9f9f9;
    transition: background-color 0.3s, border-color 0.3s;
}

.query-content.hidden {
    display: none;
}

/* Results Section Styles */
.results-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 2;
    min-width: 300px;
    max-width: 800px;
    transition: background-color 0.3s, color 0.3s;
}

.results-toggle-header {
    cursor: pointer;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.results-toggle-header:hover {
    background-color: #0056b3;
}

.results-content {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.results-content.hidden {
    display: none;
}

.result-item {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border-color 0.3s;
    color: #333; /* Default text color */
}

.result-item h3 {
    margin: 0 0 10px;
    color: #333;
}

.details {
    font-size: 14px;
    color: #555;
}

.details p {
    margin: 5px 0;
}

.details a {
    color: #007bff;
    text-decoration: none;
}

.details a:hover {
    text-decoration: underline;
}

.error-message {
    color: #d9534f;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    padding: 15px;
    border-radius: 4px;
    margin-top: 20px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}
