name: Java Code Linting

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Install dependencies
        run: mvn clean install -DskipTests

      - name: Run Checkstyle
        run: mvn checkstyle:check -Dcheckstyle.config.location=lint/checkstyle.xml