name: Format the code

on:
  pull_request:
  push:
    branches:
      - 'main'

jobs:
  format:
    runs-on: ubuntu-latest
    name: Format Files

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Prettier JS
        run: npx prettier --write **/*.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Prettier Test JS
        run: npx prettier --write **/*.test.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit formatting changes
        uses: stefanzweifel/git-auto-commit-action@v5
        if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}
        with:
          commit_message: "style: format files"