name: Java CI with Maven

on:
  pull_request:
  push:
    branches:
      - 'main'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get next version

        uses: rickstaa/action-get-semver@v1
        id: get_semver
        with:
          bump_level: "minor"

      - name: Show the next version
        run: |
          echo ${{ steps.get_semver.outputs.next_version }}


      - name: Remove v prefix
        id: removev
        run: echo "::set-output name=ref_name::$(echo ${{ steps.get_semver.outputs.next_version }} | perl -0777 -pe 's/^v//')"
      - name: Use result
        run: echo "${{ steps.removev.outputs.ref_name }}"

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Set Version With Maven
        run: mvn versions:set -DnewVersion=${{ steps.removev.outputs.ref_name }}

      - name: Build with Maven and buildpacks
        run: mvn clean install spring-boot:build-image

      - name: Create Release
        if: github.ref == 'refs/heads/main'
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ steps.get_semver.outputs.next_version }}
          tag_name: ${{ steps.get_semver.outputs.next_version }}
          token: ${{secrets.GITHUB_TOKEN}}
          generate_release_notes: true
      
